# Example .env file for the Habit-Tracker project
# Copy this to .env and replace the placeholder values

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority
PORT=3500
